@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  font-named-instance: 'Regular'; /* stylelint-disable-line property-no-unknown */
  src:
    local('Jost'),
    url('/fonts/Jost/Jost-VariableFont_wght.woff2') format('woff2'),
    url('/fonts/Jost/Jost-VariableFont_wght.ttf') format('ttf'); /** TODO: static fallback **/
}
