body {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-family: Jost, sans-serif;
  font-size: rem(16);
  line-height: 1.3;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
}

svg {
  fill: none;
  stroke: none;
}

textarea {
  width: 100%;
  font-family: inherit;
  background-color: transparent;
  resize: none;
}

sub {
  vertical-align: super;
}

input,
button {
  color: inherit;
}
