%list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

%input-unstyled {
  padding: 0;
  background: none no-repeat;
  border: 0;
}

%button-unstyled {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
}
